body{
	background-color:#80B9C8;
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
		"slnt" 0,
		"wdth" 100,
		"GRAD" 0,
		"XOPQ" 96,
		"XTRA" 468,
		"YOPQ" 79,
		"YTAS" 750,
		"YTDE" -203,
		"YTFI" 738,
		"YTLC" 514,
		"YTUC" 712;
}
	
.navbar {
	background-color:#247D7F;
	display:flex;
	justify-content:flex-end;
	list-style-type:none;
	border: 2px solid white;
	
	
}
.navbar li{
	float:left;
	
}

nav a {
	display:block;
	color:white;
	padding:10px 14px;
	text-decoration:none;
	
}
nav a:hover{
	background-color:#B2D9C4;
	border-radius:4px;
}
nav input[type=text]{
	background-color:#B2D9C4;
	float:left;
	width:300px;
	padding:4px;
	border:2px solid white;
	border-radius:10px;
	margin-top:8px;
	margin-bottom:8px;
	
}
.sidebar{
	list-style-type:none;
	position:fixed;
	top:0;
	right:0;
	height:100vh;
	width:250px;
	z-index:999;
	background-color:#247D7F;
	backdrop-filter:blur(10px);
	display:none;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}
.sidebar li{
	width:100%;
}
.sidebar a{
	width:100%;
}
.menu-button{
	display:none;
}
@media(max-width:800px){
	.hideOnMobile{
		display:none;
	}
	.menu-button{
		display:block;
	}
}

img {
	float:left;
	width: 200px;
	height: 200px;
}